*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
}
.calc{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 60px;
    height: 900px;
    width: 900px;
}
#inp{
    grid-column-start: 1;
    grid-column-end: 5;
}
.key-equal{
    grid-column-start:2;
    grid-column-end: 4;
}